.navbar {
    display: flex;
    background-color: #005ba2;
  }
  
  .menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
  }
  
  /*.menu-icon {
    font-size: 2.5rem;
  }*/
  h3{
    color: white;
  }
  
  .menu-vertical {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #ededed;
    color: white;
  }
 #d-flex{
    color: #1f1f11;
    font-family: Arial Black;
 }
 .p-2{
    display: grid;
    grid-template-columns: 20% 80%;
 }

  .menu-vertical.open {
    display: block;
  }
  
  .contenido {
    flex: 1;
    transition: margin-left 0.5s; /* Transición para el desplazamiento del contenido */
  }
  
  .desplazado {
    margin-left: 200px; /* Ancho del menú para desplazar el contenido hacia un lado */
  }
  h4{
    font-weight: bold;
    color: black;
  }

/*estilos para el toltip*/
.p-4{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  /* Ajusta la posición del tooltip aquí */
  top: -10px; /* Ejemplo de ajuste de la posición hacia arriba */
  left: 50%; /* Centro horizontalmente */
  transform: translateX(-50%); /* Centra horizontalmente */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip.visible {
  visibility: visible;
  opacity: 1;
}
