<nav class="navbar">
  <!-- Botón de menú -->
  <button class="menu-btn" (click)="toggleMenu()">
    <!--<span class="menu-icon">&#9776;</span>  Icono de menú (las tres líneas horizontales) -->
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M3 6h18M3 12h18M3 18h18"/></svg>
  </button>
  <!-- Menú vertical -->
  <div class="menu-vertical" [ngClass]="{'open': menuAbierto}">
    <section class="menutxt">
      <div class="texto" style="font-weight: bold; color: rgb(255, 255, 255);">
        Menú
      </div>
      <div class="close">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="toggleMenu()"></button>
      </div>
    </section>
    <section class="iconosMenu">
      <div class="datosGral">
        <button class="btn">Datos generales</button>
      </div>
      <div class="maquinas">
        <button class="btn">Máquinas</button>
      </div>
      <div class="plantas">
        <button class="btn">Plantas</button>
      </div>
      <div class="departamentos">
        <button class="btn">Departamentos</button>
      </div>
      <div class="partes">
        <button class="btn">Partes</button>
      </div>
    </section>
    <!--<div class="d-flex flex-row-reverse">
      <div class="p-2">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="toggleMenu()"></button>
      </div>
    </div>-->
    <!--<div class="p-2 d-flex justify-content-center" >
      <h4>Menú</h4>
    </div>-->
    
    
  </div>
  
  <!-- Contenido -->
  <div class="contenido" [ngClass]="{'desplazado': menuAbierto}">
    <!-- Contenido principal -->
    <!--<h3>Bienvenido</h3>-->
    <img src="\assets\img-logo\Letras_Airtemp.png" alt="Logo" style="width: 10%; height: 10%;">
  </div>
</nav>
<div class="contenido" [ngClass]="{'desplazado': menuAbierto}">
  <app-datogeneral *ngIf="datoGeneral"></app-datogeneral>
  <app-maquinas *ngIf="maquinasForm"></app-maquinas>
  <app-plantas *ngIf="plantasForm"></app-plantas>
  <app-departamentos *ngIf="departamentosForm"></app-departamentos>
  <app-partes *ngIf="parteForm"></app-partes>
  <app-funciones *ngIf="funcionForm"></app-funciones>
</div>

