
<body>
    <section class="contenido1">
        <div class="titulo">
            <h1 style="text-decoration: underline;">Departamentos</h1>
        </div>
        <div class="d-flex" role="search">
            <div class="me-auto p-2">
                <input class="form-control me-2"  [(ngModel)]="filtro" type="search" placeholder="Buscar..." aria-label="Search">
            </div>
            <div class="ms-auto p-2">
                <button class="btn btn-outline-primary" type="submit" (click)="mostrarTarjeta()">Agregar Departamento</button>
            </div>
        </div>
    </section>
    <section class="contenido2 ">
        <div class="table-wrapper table-responsive">
            <table class="table table-hover " style="text-align: center;">
                <thead class="table-secondary">
                  <tr>
                    <th scope="col">Número</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Encargado</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr *ngFor="let deptosItems of filtrar()">
                    <td>{{deptosItems.numero}}</td>
                    <td>{{deptosItems.nombre}}</td>
                    <td>{{deptosItems.encargado}}</td>
                    <td>{{deptosItems.tipo}}</td>
                    <td [ngClass]="{'negrita verde': deptosItems.estatus, 'negrita rojo': !deptosItems.estatus}">
                      {{deptosItems.estatus ? 'True' : 'False'}}
                    </td>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" (click)="dataUpdate(deptosItems)" style="cursor: pointer;" width="25" height="25" viewBox="0 0 1200 1200"><path fill="#eab308" d="M284.506 0L58.436 218.249V1200h850.418V817.511L803.861 922.504v173.167H163.428V292.179h197.59v-187.85h442.844v272.996L490.433 690.753L397.32 977.619l286.793-93.188l457.452-457.452L947.885 233.3l-39.031 39.031V0zm254.402 739.154l96.803 96.876l-143.434 46.557z"/></svg>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </section>
    <!-- Tarjeta flotante con formulario y fondo oscuro -->
    <div class="fondo-oscuro" *ngIf="verTarjeta" >
        <div class="tarjeta-flotante">
            <div class="formulario-maquina">
                <div class="d-flex" role="search">
                    <div class="me-auto p-2">
                        <h4>Agregar Un Departamento Nuevo</h4>
                    </div>
                    <div class="ms-auto p-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="ocultarTarjeta()"></button>
                    </div>
                </div>
                <form class="row g-3">
                    <div class="col-md-6">
                      <label for="validarCodMq" class="form-label">Número del departamento</label>
                      <input type="text" [(ngModel)]="numero" [ngModelOptions]="{standalone: true}" class="form-control" id="codMq" required>
                    </div>
                    <div class="col-md-6">
                      <label for="validarNombre" class="form-label">Nombre del departamento</label>
                      <input type="text" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" class="form-control" id="nombre" required>
                    </div>
                    <div class="col-md-6">
                      <label for="validarCodProceso" class="form-label">Encargado del departamento</label>
                      <input type="text" [(ngModel)]="encargado" [ngModelOptions]="{standalone: true}" class="form-control" id="codProceso" required>
                    </div>
                    <div class="col-md-6">
                      <label for="validarTipo" class="form-label">Tipo</label>
                      <input type="text" [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}" class="form-control" id="validarTipo" required>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="estatus" (change)="actualizarEstado()" id="invalidCheck2" name="estadoCheckbox">
                        <label class="form-check-label" for="invalidCheck2">
                          Activo
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit" (click)="saveDatos()" *ngIf="agregar">Agregar</button>
                      <button class="btn btn-warning" (click)="updateDatos()" *ngIf="editar">Actualizar</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>

</body>