
<div class="card">
  <div class="card-body d-flex">
    <div class="p-2 flex-fill">
      <p><strong>MÁQUINA: </strong>{{maquinaSelect}}</p>
    </div>
    <div class="p-2 flex-fill">
      <p><strong>NÚMERO DE PARTE: </strong>{{parteSelect}}</p>
    </div>
    <div class="p-2 flex-fill">
      <p><strong>DESCRIPCIÓN: </strong>{{descripcionNumParte}}</p>
    </div>
    <div class="p-2 flex-fill">
      <button class="btn btn-outline-primary" (click)="cambio()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
        </svg> Cambiar máquina o parte
      </button>
    </div>
  </div>
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" (click)="clicActiveForm(true)" *ngIf="verContenedorForm">
        <a class="nav-link" [class.active]="isActiveForm" [attr.aria-current]="isActiveDatos ? 'page' : null">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
          </svg>
          Formulario
        </a>
      </li>
      <li class="nav-item" (click)="clicActiveRegis(true)">
        <a class="nav-link" [class.active]="isActiveRegis" [attr.aria-current]="isActiveDatos ? 'page' : null">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
          </svg>
          Registros
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body" >
    <div class="formulario" *ngIf="isActiveForm"> <!--contenedor padre-->
      <div class="d-flex "> <!--contenedor del titulo y el porcentaje del uso-->
        <div class="p-2 flex-fill"><h3>MÁQUINA INYECTORAS - DEPTO 110</h3></div>
        <div class="p-2 flex-fill" >
          <div class="ocupacion text-center" [ngStyle]="{'background-color': getBackgroundColor()}">
            <p>Ocupación Pieza: {{proyectadoOcupAnual}}%</p>
          </div>
        </div>
        <div class="p-2 flex-fill text-center">
          <div class="ocupacion" [ngStyle]="{'background-color': getBackgroundColorTotal()}">
            <p>Ocupación Total Máquina: {{ocupacionTotal}}%</p>
          </div>
        </div>
      </div>

      <div class="d-flex p-2"> <!--contenedor de formulario-->
        <div class="p-2 w-100" style="border: 2px solid #ededed; border-radius: 5px;">
          <form class="row g-3" #myForm="ngForm" (ngSubmit)="registrarDatos()">
            <div class="col-md-4">
              <label for="validarRequerimiento" class="form-label">Requerimiento anual</label>
              <input type="number" [(ngModel)]="requeriAnualAutilizar" [ngModelOptions]="{standalone: true}" class="form-control" id="validarRequerimiento" required
              (focus)="showDescription1 = true" (blur)="showDescription1 = false">
              <small class="form-text text-muted" *ngIf="showDescription1">Ingrese el valor en piezas</small>
            </div>
            <div class="col-md-4">
              <label for="validarlongBanda" class="form-label">Longitud total de banda</label>
              <input type="number" [(ngModel)]="longTotalBanda" [ngModelOptions]="{standalone: true}" class="form-control" id="validarlongBanda"  required
              (focus)="showDescription2 = true" (blur)="showDescription2 = false">
              <small class="form-text text-muted" *ngIf="showDescription2">Ingrese el valor en mm</small>
            </div>
            <div class="col-md-4">
                <label for="validarLongEfecBanda" class="form-label">Longitud efectivo de banda</label>
                <input type="number" [(ngModel)]="longEfectivoBanda" [ngModelOptions]="{standalone: true}" class="form-control" id="validarLongEfecBanda" required
                (focus)="showDescription3 = true" (blur)="showDescription3 = false">
                <small class="form-text text-muted" *ngIf="showDescription3">Ingrese el valor en mm</small>
            </div>
            <div class="col-md-4">
                <label for="validarVelocidad" class="form-label">Velocidad de banda asignado</label>
                <input type="number" [(ngModel)]="velocidadBanda" [ngModelOptions]="{standalone: true}" class="form-control" id="validarVelocidad" required
                (focus)="showDescription4 = true" (blur)="showDescription4 = false">
                <small class="form-text text-muted" *ngIf="showDescription4">Ingrese el valor en mm/min</small>
            </div>
            <div class="col-md-4">
                <label for="validarSemanasLaborar" class="form-label">Semanas a laborar</label>
                <input type="number" [(ngModel)]="semanasAlaborar" [ngModelOptions]="{standalone: true}" class="form-control" id="validarSemanasLaborar" required
                (focus)="showDescription5 = true" (blur)="showDescription5 = false">
                <small class="form-text text-muted" *ngIf="showDescription5">Ingrese el número de semanas</small>
            </div>
            <div class="col-md-4">
                <label for="validarDiasLaborar" class="form-label">Días a laborar</label>
                <input type="number" [(ngModel)]="diasAlaborarSemana" [ngModelOptions]="{standalone: true}" class="form-control" id="validarDiasLaborar" required
                (focus)="showDescription6 = true" (blur)="showDescription6 = false">
                <small class="form-text text-muted" *ngIf="showDescription6">Ingrese el número de días</small>
            </div>
            <div class="col-md-4">
                <label for="validarHorasTurno" class="form-label">Horas del turno</label>
                <input type="number" [(ngModel)]="horasDelTurno" [ngModelOptions]="{standalone: true}" class="form-control" id="validarHorasTurno" required
                (focus)="showDescription7 = true" (blur)="showDescription7 = false">
                <small class="form-text text-muted" *ngIf="showDescription7">Ingrese el número de horas</small>
            </div>
            <div class="col-md-4">
              <label for="validarTurnosDia" class="form-label">Turnos al día</label>
              <input type="number" [(ngModel)]="turnosAlDia" [ngModelOptions]="{standalone: true}" class="form-control" id="validarTurnosDia" required
              (focus)="showDescription8 = true" (blur)="showDescription8 = false">
                <small class="form-text text-muted" *ngIf="showDescription8">Ingrese el número de turnos</small>
            </div>
            <div class="col-md-4">
                <label for="validarParadas" class="form-label">Paradas programadas</label>
                <input type="number" [(ngModel)]="paradasProgramadas" [ngModelOptions]="{standalone: true}" class="form-control" id="validarNumCambioH" required
                (focus)="showDescription9 = true" (blur)="showDescription9 = false">
                <small class="form-text text-muted" *ngIf="showDescription9">Ingrese el valor en minutos</small>
            </div>
            <div class="col-md-4">
                <label for="validarDemoras" class="form-label">Demoras inevitables</label>
                <input type="number" [(ngModel)]="demorasInevitables" [ngModelOptions]="{standalone: true}" class="form-control" id="validarDemoras" required
                (focus)="showDescription10 = true" (blur)="showDescription10 = false">
                <small class="form-text text-muted" *ngIf="showDescription10">Ingrese el valor en minutos</small>
            </div>
            <div class="col-md-4">
                <label for="validarDummys" class="form-label">Cantidad de DUMMY'S a usar</label>
                <input type="number" [(ngModel)]="cantidadDummys" [ngModelOptions]="{standalone: true}" class="form-control" id="validarDummys" required
                (focus)="showDescription11 = true" (blur)="showDescription11 = false">
                <small class="form-text text-muted" *ngIf="showDescription11">Ingrese el valor de la cantidad</small>
            </div>
            <div class="col-md-4">
                <label for="validarLongitudDummy" class="form-label">Longitud del DUMMY'S</label>
                <input type="number" [(ngModel)]="longitudDummy" [ngModelOptions]="{standalone: true}" class="form-control" id="validarLongitudDummy" required
                (focus)="showDescription12 = true" (blur)="showDescription12 = false">
                <small class="form-text text-muted" *ngIf="showDescription12">Ingrese el valor en mm</small>
            </div>
            <div class="col-md-4">
              <label for="validarLongEntreDummy" class="form-label">Longitud entre DUMMY'S</label>
              <input type="number" [(ngModel)]="longitudEntreDummys" [ngModelOptions]="{standalone: true}" class="form-control" id="validarLongEntreDummy" required
              (focus)="showDescription13 = true" (blur)="showDescription13 = false">
              <small class="form-text text-muted" *ngIf="showDescription13">Ingrese el valor en mm</small>
            </div>
            <div class="col-md-4">
              <label for="validarLongJIG" class="form-label">Longitud del JIG producto</label>
              <input type="number" [(ngModel)]="longitudJig" [ngModelOptions]="{standalone: true}" class="form-control" id="validarLongJIG" required
              (focus)="showDescription13 = true" (blur)="showDescription13 = false">
              <small class="form-text text-muted" *ngIf="showDescription13">Ingrese el valor en mm</small>
            </div>
            <div class="col-md-4">
              <label for="validarLongEntreJIG" class="form-label">Longitud entre JIGS</label>
              <input type="number" [(ngModel)]="longitudEntreJigs" [ngModelOptions]="{standalone: true}" class="form-control" id="validarLongEntreJIG" required
              (focus)="showDescription14 = true" (blur)="showDescription14 = false">
              <small class="form-text text-muted" *ngIf="showDescription14">Ingrese el valor en mm</small>
            </div>
            <div class="col-md-4">
              <label for="validarFilasDummys" class="form-label">Filas de DUMMY'S simultáneas</label>
              <input type="number" [(ngModel)]="filasDummysSimultaneas" [ngModelOptions]="{standalone: true}" class="form-control" id="validarFilasDummys" required
              (focus)="showDescription15 = true" (blur)="showDescription15 = false">
              <small class="form-text text-muted" *ngIf="showDescription15">Ingrese el número de filas</small>
            </div>
            <div class="col-md-4">
              <label for="validarFilasJIG" class="form-label">Filas de JIGS simultáneas</label>
              <input type="number" [(ngModel)]="filasJigsSimultaneas" [ngModelOptions]="{standalone: true}" class="form-control" id="validarFilasJIG" required
              (focus)="showDescription16 = true" (blur)="showDescription16 = false">
              <small class="form-text text-muted" *ngIf="showDescription16">Ingrese el número de filas</small>
            </div>
            <div class="col-md-4">
              <label for="validarCavidades" class="form-label">Cavidades en banda</label>
              <input type="number" [(ngModel)]="cavidadesEnBanda" [ngModelOptions]="{standalone: true}" class="form-control" id="validarCavidades" required
              (focus)="showDescription17 = true" (blur)="showDescription17 = false">
              <small class="form-text text-muted" *ngIf="showDescription17">Ingrese el número de cavidades en banda</small>
            </div>
            <div class="col-md-4">
              <label for="validarNumCambios" class="form-label">Número de cambios de receta</label>
              <input type="number" [(ngModel)]="numCambiosReceta" [ngModelOptions]="{standalone: true}" class="form-control" id="validarNumCambios" required
              (focus)="showDescription18 = true" (blur)="showDescription18 = false">
              <small class="form-text text-muted" *ngIf="showDescription18">Ingrese el número de cambios</small>
            </div>
            <div class="col-md-3">
              <label for="validarObservaciones" class="form-label">Observaciones</label>
              <textarea class="form-control" [(ngModel)]="observaciones" [ngModelOptions]="{standalone: true}" id="validarObservaciones" rows="1"
              (focus)="showDescription16 = true" (blur)="showDescription16 = false"></textarea>
                <small class="form-text text-muted" *ngIf="showDescription16">Si no tiene observaciones ingresar "Ninguna"</small>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">
                Calcular
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calculator-fill" viewBox="0 0 16 16">
                  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5m0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5z"/>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="registros" *ngIf="isActiveRegis">
      <div class="container-tablas">
        <div class="containerDatos">
          <table class="table table-hover" style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Código Máquina</th>
                <th scope="col">Nombre Máquina</th>
                <th scope="col">Número de parte</th>
                <th scope="col">Descripción</th>
                <th scope="col">Proyectado Ocupación</th>
              </tr>
            </thead>
            <tbody class="table-group-divider" >
              <tr *ngFor="let items of ocupacionAll">
                <th scope="row">{{items.id}}</th>
                <td>{{items.codInternoMq}}</td>
                <td>{{items.nombre}}</td>
                <td>{{items.numParte}}</td>
                <td>{{items.descripcion}}</td>
                <td>{{items.proyectadoOcupAnual}}%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <table class="table table-hover" >
          <tfoot>
            <tr class="text-center">
              <td colspan="5" ><strong>Ocupacion Total de la Máquina</strong></td>
              <td id="totalTabla" [ngStyle]="{'background-color': getBackgroundColorTotal()}"><strong>{{ocupacionTotal}} %</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!--<body>
    <div class="card" *ngIf="pestania1">
      <h5 class="card-header">MÁQUINA HORNOS - DEPTO 105</h5>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active">Datos a registrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="verPestania(false)" *ngIf="activarPestania">Datos calculados</a>
              </li>
            </ul>
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos de ocupación de la máquina</h4>
            <section class="contenido d-flex">
              <div class="p-2 w-50">
                  <div class="finpress" style="padding: 0 5%;">
                      <form class="row g-3">
                          <div class="col-md-4">
                            <label for="validarRequerimiento" class="form-label">Requerimiento anual</label>
                            <input type="number" [(ngModel)]="requeriAnualAutilizar" [ngModelOptions]="{standalone: true}" class="form-control" id="validarRequerimiento" required>
                          </div>
                          <div class="col-md-4">
                            <label for="validarlongBanda" class="form-label">Longitud total de banda</label>
                            <input type="number" [(ngModel)]="longTotalBanda" [ngModelOptions]="{standalone: true}" class="form-control" id="validarlongBanda"  required>
                          </div>
                          <div class="col-md-4">
                              <label for="validarLongEfecBanda" class="form-label">Longitud efectivo de banda</label>
                              <input type="number" [(ngModel)]="longEfectivoBanda" [ngModelOptions]="{standalone: true}" class="form-control" id="validarLongEfecBanda" required>
                          </div>
                          <div class="col-md-4">
                              <label for="validarVelocidad" class="form-label">Velocidad de banda asignado</label>
                              <input type="number" [(ngModel)]="velocidadBanda" [ngModelOptions]="{standalone: true}" class="form-control" id="validarVelocidad" required>
                          </div>
                          <div class="col-md-4">
                              <label for="validarSemanasLaborar" class="form-label">Semanas a laborar</label>
                              <input type="number" [(ngModel)]="semanasAlaborar" [ngModelOptions]="{standalone: true}" class="form-control" id="validarSemanasLaborar" required>
                          </div>
                          <div class="col-md-4">
                              <label for="validarDiasLaborar" class="form-label">Días a laborar</label>
                              <input type="number" [(ngModel)]="diasAlaborarSemana" [ngModelOptions]="{standalone: true}" class="form-control" id="validarDiasLaborar" required>
                          </div>
                          <div class="col-md-4">
                              <label for="validarHorasTurno" class="form-label">Horas del turno</label>
                              <input type="number" [(ngModel)]="horasDelTurno" [ngModelOptions]="{standalone: true}" class="form-control" id="validarHorasTurno" required>
                          </div>
                          <div class="col-md-4">
                            <label for="validarTurnosDia" class="form-label">Turnos al día</label>
                            <input type="number" [(ngModel)]="turnosAlDia" [ngModelOptions]="{standalone: true}" class="form-control" id="validarTurnosDia" required>
                        </div>
                          <div class="col-md-4">
                              <label for="validarParadas" class="form-label">Paradas programadas</label>
                              <input type="number" [(ngModel)]="paradasProgramadas" [ngModelOptions]="{standalone: true}" class="form-control" id="validarNumCambioH" required>
                          </div>
                          <div class="col-md-4">
                              <label for="validarDemoras" class="form-label">Demoras inevitables</label>
                              <input type="number" [(ngModel)]="demorasInevitables" [ngModelOptions]="{standalone: true}" class="form-control" id="validarDemoras" required>
                          </div>
                          <div class="col-md-4">
                              <label for="validarDummys" class="form-label">Cantidad de DUMMY'S a usar</label>
                              <input type="number" [(ngModel)]="cantidadDummys" [ngModelOptions]="{standalone: true}" class="form-control" id="validarDummys" required>
                          </div>
                          <div class="col-md-4">
                              <label for="validarLongitudDummy" class="form-label">Longitud del DUMMY'S</label>
                              <input type="number" [(ngModel)]="longitudDummy" [ngModelOptions]="{standalone: true}" class="form-control" id="validarLongitudDummy" required>
                          </div>
                          <div class="col-md-4">
                            <label for="validarLongEntreDummy" class="form-label">Longitud entre DUMMY'S</label>
                            <input type="number" [(ngModel)]="longitudEntreDummys" [ngModelOptions]="{standalone: true}" class="form-control" id="validarLongEntreDummy" required>
                          </div>
                          <div class="col-md-4">
                            <label for="validarLongJIG" class="form-label">Longitud del JIG producto</label>
                            <input type="number" [(ngModel)]="longitudJig" [ngModelOptions]="{standalone: true}" class="form-control" id="validarLongJIG" required>
                          </div>
                          <div class="col-md-4">
                            <label for="validarLongEntreJIG" class="form-label">Longitud entre JIGS</label>
                            <input type="number" [(ngModel)]="longitudEntreJigs" [ngModelOptions]="{standalone: true}" class="form-control" id="validarLongEntreJIG" required>
                          </div>
                          <div class="col-md-4">
                            <label for="validarFilasDummys" class="form-label">Filas de DUMMY'S simultáneas</label>
                            <input type="number" [(ngModel)]="filasDummysSimultaneas" [ngModelOptions]="{standalone: true}" class="form-control" id="validarFilasDummys" required>
                          </div>
                          <div class="col-md-4">
                            <label for="validarFilasJIG" class="form-label">Filas de JIGS simultáneas</label>
                            <input type="number" [(ngModel)]="filasJigsSimultaneas" [ngModelOptions]="{standalone: true}" class="form-control" id="validarFilasJIG" required>
                          </div>
                          <div class="col-md-4">
                            <label for="validarCavidades" class="form-label">Cavidades en banda</label>
                            <input type="number" [(ngModel)]="cavidadesEnBanda" [ngModelOptions]="{standalone: true}" class="form-control" id="validarCavidades" required>
                          </div>
                          <div class="col-md-4">
                            <label for="validarNumCambios" class="form-label">Número de cambios de receta</label>
                            <input type="number" [(ngModel)]="numCambiosReceta" [ngModelOptions]="{standalone: true}" class="form-control" id="validarNumCambios" required>
                          </div>
                          <div class="col-md-4">
                            <label for="validarObservaciones" class="form-label">Observaciones</label>
                            <input type="text" [(ngModel)]="observaciones" [ngModelOptions]="{standalone: true}" class="form-control" id="validarObservaciones" required>
                          </div>
                          <div class="col-12">
                            <button class="btn btn-primary" type="submit" (click)="registrarDatos(true)">Submit form</button>
                          </div>
                        </form>
                  </div>
              </div>
              <div class="p-2 w-50 ">
                  <div class="d-flex justify-content-center">
                      <div class="card d-flex align-items-center" id="cardporcentaje">
                          <h4>Proyectado de ocupacion anual</h4>
                          <div class="porcentaje d-flex align-items-center justify-content-center">
                              {{proyectadoOcupAnual}}%
                          </div>
                      </div>
                  </div>
              </div>
            </section>
        </div>
    </div>
    <div class="card" *ngIf="pestania2">
      <h5 class="card-header">MÁQUINA HORNOS - DEPTO 105</h5>
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" (click)="verPestania(true)">Datos a registrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Datos calculados</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h3 class="card-title">Resultados de los cálculos</h3>
          <p class="card-text"><strong>Horas por semana por turno:</strong> {{horaSemanaTurno}}</p>
          <p class="card-text"><strong>Longitud total JIG DUMMY:</strong> {{longTotalJigDummy}} </p>
          <p class="card-text"><strong>Longitud total JIG producto:</strong> {{longTotalJigProducto}}</p>
          <p class="card-text"><strong>Requerimiento semanal:</strong> {{requerimientoSem}} </p>
          <p class="card-text"><strong>Requerimiento diario:</strong> {{requerimientoDiario}} </p>
          <p class="card-text"><strong>Número de columnas DUMMY'S:</strong> {{numColDummys}} </p>
          <p class="card-text"><strong>Número de columnas de JIG producto:</strong> {{numColJigProducto}} </p>
          <p class="card-text"><strong>Tiempo disponible de horno al día:</strong> {{timeDisponibleHornoAlDia}}</p>
          <p class="card-text"><strong>Tiempo de horneado por pza 1er DUMMY:</strong> {{horneadoXpzaPrimerDummy}}</p>
          <p class="card-text"><strong>Tiempo de horneado por pza resto de DUMMY:</strong> {{horneadoXpzaRestoDummys}}</p>
          <p class="card-text"><strong>Tiempo de horneado por pieza producto:</strong> {{horneadoXpzaProducto}}</p>
          <p class="card-text"><strong>Tiempo del recorrido del 1er DUMMY:</strong> {{timeRecorriPrimerDummy}}</p>
          <p class="card-text"><strong>Tiempo del recorrido de resto de DUMMY'S:</strong> {{timeRecorriRestoDummys}}</p>
          <p class="card-text"><strong>Tiempo del recorrido de producto: </strong>{{timeRecorridoProducto}}</p>
          <p class="card-text"><strong>Ocupacion 1er DUMMY:</strong> {{ocupacionPrimerDummy}}</p>
          <p class="card-text"><strong>Ocupacion resto de DUMMY'S:</strong> {{OcupacionRestoDummys}}</p>
          <p class="card-text"><strong>Ocupacion producto:</strong> {{ocupacionProducto}}</p>
        </div>
    </div>
</body>-->