<body>
    <section class="contenido1">
        <div class="titulo">
            <h1 style="text-decoration: underline;">Partes</h1>
        </div>
        <div class="d-flex" role="search">
            <div class="me-auto p-2">
                <input class="form-control me-2" [(ngModel)]="filtro" type="search" placeholder="Buscar..." aria-label="Search">
            </div>
            <div class="ms-auto p-2">
                <button class="btn btn-outline-primary" type="submit" (click)="mostrarTarjeta()">Agregar Parte</button>
            </div>
        </div>
    </section>
    <section class="contenido2 ">
        <div class="table-wrapper table-responsive">
            <table class="table table-hover ">
                <thead class="table-secondary">
                  <tr>
                    <th scope="col">Número</th>
                    <th scope="col">Descripción del número de parte</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Máquina realiza</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr *ngFor="let parteItems of filtrar()">
                    <td>{{parteItems.numParte}}</td>
                    <td>{{parteItems.descripcion}}</td>
                    <td>{{parteItems.tipo}}</td>
                    <td>{{parteItems.codMaqRealiza}}</td>
                    <td>{{parteItems.cliente}}</td>
                    <td [ngClass]="{'negrita verde': parteItems.estatus, 'negrita rojo': !parteItems.estatus}">
                      {{parteItems.estatus ? 'True' : 'False'}}
                    </td>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" (click)="dataUpdate(parteItems)" style="cursor: pointer;" width="25" height="25" viewBox="0 0 1200 1200"><path fill="#eab308" d="M284.506 0L58.436 218.249V1200h850.418V817.511L803.861 922.504v173.167H163.428V292.179h197.59v-187.85h442.844v272.996L490.433 690.753L397.32 977.619l286.793-93.188l457.452-457.452L947.885 233.3l-39.031 39.031V0zm254.402 739.154l96.803 96.876l-143.434 46.557z"/></svg>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </section>
    <!-- Tarjeta flotante con formulario y fondo oscuro -->
    <div class="fondo-oscuro" *ngIf="verTarjeta" >
        <div class="tarjeta-flotante">
            <div class="formulario-maquina">
                <div class="d-flex" role="search">
                    <div class="me-auto p-2">
                        <h4>Agregar Una Parte Nueva</h4>
                    </div>
                    <div class="ms-auto p-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="ocultarTarjeta()"></button>
                    </div>
                </div>
                <form class="row g-3">
                    <div class="col-md-6">
                      <label for="validarNumParte" class="form-label">Número de parte</label>
                      <input type="text" [(ngModel)]="numParte" [ngModelOptions]="{standalone: true}" class="form-control" id="validarNumParte" required>
                    </div>
                    <div class="col-md-6">
                      <label for="validarDescripcion" class="form-label">Descripción</label>
                      <textarea class="form-control" [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}" id="validarDescripcion" rows="1"></textarea>
                    </div>
                    <div class="col-md-6">
                      <label for="validarTipo" class="form-label">Tipo de parte</label>
                      <select class="form-select" [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}" id="validarTipo" required>
                        <option>PREENSAMBLE</option>
                        <option>PRODUCTO COMPRADO</option>
                        <option>MATERIA PRIMA</option>
                        <option>PRODUCTO TERMINADO</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="validarFuncionMq" class="form-label">Función de la máquina que lo realiza o produce</label>
                      <select class="form-select" [(ngModel)]="funcionMaquina" [ngModelOptions]="{standalone: true}" id="validarTipo" required>
                        <option value="ACABADO">FIN PRESS</option>
                        <option value="TROQUELAR">TROQUELADORA</option>
                        <option value="INYECTAR">INYECTORA</option>
                        <option value="FLUXEAR">FLUXEADORA</option>
                        <option value="HORNEAR">HORNO</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="validarcodMaqRealiza" class="form-label">Máquina que lo realiza o produce</label>
                      <select class="form-select" [(ngModel)]="codMaqRealiza" [ngModelOptions]="{standalone: true}" id="validarCodMq" required>
                        <option [value]="items.codInternoMq" *ngFor="let items of maquinasArray">{{items.codInternoMq}} - {{items.nombre}}</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="validarCliente" class="form-label">Cliente</label>
                      <select class="form-select" [(ngModel)]="cliente" [ngModelOptions]="{standalone: true}" id="validarCliente" required>
                        <option *ngFor="let items of clienteArray">{{items.nombre}}</option>
                      </select>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="estatus" (change)="actualizarEstado()" id="invalidCheck2" name="estadoCheckbox">
                        <label class="form-check-label" for="invalidCheck2">
                          Activo
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit" (click)="saveDatos()" *ngIf="agregar">Agregar</button>
                      <button class="btn btn-warning" (click)="updateDatos()" *ngIf="editar">Actualizar</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>

</body>