.nav-link{
    cursor: pointer;
}

#cardporcentaje{
    padding: 3%;
}
.porcentaje{
    background-color: #008000;
    color: #f5f9fb;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
}
#tabla{
    padding: 1% 5%;
}
