
<section class="header">
    <app-procesos></app-procesos>
</section>
<body>
    <section class="contenido1">
        <div class="titulo">
            <h1 style="text-decoration: underline;">Máquinas</h1>
        </div>
        <div class="d-flex" role="search">
            <div class="me-auto p-2">
                <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            </div>
            <div class="ms-auto p-2">
                <button class="btn btn-outline-primary" type="submit" (click)="mostrarTarjeta()">Agregar Máquina</button>
            </div>
        </div>
    </section>
    <section class="contenido2 ">
        <div class="table-wrapper table-responsive">
            <table class="table table-hover ">
                <thead class="table-secondary">
                  <tr>
                    <th scope="col">Código Máquina</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Código Proceso</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Larry the Bird</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </section>
    <!-- Tarjeta flotante con formulario y fondo oscuro -->
    <div class="fondo-oscuro" *ngIf="verTarjeta" >
        <div class="tarjeta-flotante">
            <div class="formulario-maquina">
                <div class="d-flex" role="search">
                    <div class="me-auto p-2">
                        <h4>Agregar Nueva Máquina</h4>
                    </div>
                    <div class="ms-auto p-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="ocultarTarjeta()"></button>
                    </div>
                </div>
                <form class="row g-3">
                    <div class="col-md-6">
                      <label for="validarCodMq" class="form-label">Código Interno Máquina</label>
                      <input type="text" class="form-control" id="codMq" required>
                    </div>
                    <div class="col-md-6">
                      <label for="validarNombre" class="form-label">Nombre Máquina</label>
                      <input type="text" class="form-control" id="nombre" required>
                    </div>
                    <div class="col-md-6">
                      <label for="validarCodProceso" class="form-label">Código Interno De Proceso</label>
                      <input type="text" class="form-control" id="codProceso" required>
                    </div>
                    <div class="col-md-6">
                      <label for="validarTipo" class="form-label">Tipo</label>
                      <select class="form-select" id="validarTipo" required>
                        <option selected disabled value="">Choose...</option>
                        <option>FIN PRESS</option>
                        <option>INYECTORAS</option>
                        <option>TROQUELADORAS</option>
                        <option>HORNOS</option>
                        <option>FLUXEADORAS</option>
                      </select>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                          Inactivo
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">Agregar</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>

</body>