
<body>
	<nav class="navbar">
		<div class="navbar-logo">
		  <img src="/assets/img-logo/Letras_Airtemp.png" alt="Logo" >
		</div>
		<div class="navbar-buttons">
			<svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" routerLink="/panel-principal" width="30" height="30" viewBox="0 0 48 48">
			  <title>PANEL PRINCIPAL</title>
			  <path fill="#ffffff" fill-rule="evenodd" stroke="#ffffff" stroke-linejoin="round" stroke-width="4" d="M44 40.836c-4.893-5.973-9.238-9.362-13.036-10.168c-3.797-.805-7.412-.927-10.846-.365V41L4 23.545L20.118 7v10.167c6.349.05 11.746 2.328 16.192 6.833c4.445 4.505 7.009 10.117 7.69 16.836Z" clip-rule="evenodd"/>
			</svg>
		  </div>
		  
	</nav>
	  
	<!--<nav class="navbar ">
		<img src="\assets\img-logo\Letras_Airtemp.png" alt="Logo" style="width: 15%; height: 15%;">
	</nav>-->
	<section class="panelCalculos">
		<app-calcular-capacidad></app-calcular-capacidad>
	</section>
	  
</body>