<body>
  <div class="d-flex flex-column mb-3 " id="contenedor">
    <div class="p-2" id="maquina" *ngIf="datosMaquina">
      <div class="card">
        <h5 class="card-header">CAPACIDAD DE MÁQUINAS</h5>
        <div class="card-body d-flex ">
          <!--<h5 class="card-title">Special title treatment</h5>-->
          <div class="p-2 flex-fill d-flex justify-content-center" >
            <select class="form-select" size="6" style="width: 80%;"  aria-label="Default select example">
              <option disabled>Seleccione una máquina</option>
              <option value="1">FIN PRESS ECKO</option>
              <option value="2">FIN PRESS LIVERNOIS F275 S/S</option>
              <option value="3">FIN PRESS LIVERNOIS F275 S/S</option>
              <option value="1">FIN PRESS LIVERNOIS F275 S/S</option>
              <option value="2">TwoG</option>
              <option value="3">TFShree</option>
              <option value="1">TDOne</option>
              <option value="2">TJwo</option>
              <option value="3">ThrTDee</option>
            </select>
          </div>
          <div class="p-2 flex-fill d-flex justify-content-center" >
            <select class="form-select" size="6" style="width: 80%;"  aria-label="Default select example">
              <option disabled>Seleccione un número de parte</option>
              <option value="1">ALETA RADIADOR VERSA</option>
              <option value="2">ALETA CONDENSADOR VERSA L02BE</option>
              <option value="3">ALETA CONDENSADOR T255</option>
              <option value="1">ALETA CONDENSADOR NP300</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="p-5 ">
            <button class="btn btn-primary" (click)="calcularCapacidad()">Calcular</button>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2" id="interactivo" *ngIf="!datosMaquina">
      <div class="card-body">
        <app-finpress *ngIf="formFinPress" (nuevoCalculoEvent)="manejarNuevoCalculo($event)"></app-finpress>
      </div>
    </div>
  </div>
</body>