<body>
  <div class="d-flex flex-column mb-3 " id="contenedor">
    <div class="p-2" id="maquina" *ngIf="datosMaquina">
      <div class="card">
        <h5 class="card-header">OCUPACIÓN DE MÁQUINAS</h5>
        <div class="card-body d-flex flex-column mb-3">
          
          <ul class="list-group list-group-horizontal">
            <h5>filtrar:</h5>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="'Todos'" id="todos" [checked]="radioSeleccionado === 'Todos'" (change)="handleChange($event)">
              <label class="form-check-label" for="todos">TODOS</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="'ACABADO'" id="finPress" [checked]="radioSeleccionado === 'ACABADO'" (change)="handleChange($event)">
              <label class="form-check-label" for="finPress">FIN PRESS</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="'INYECTAR'" id="inyectoras" [checked]="radioSeleccionado === 'INYECTAR'" (change)="handleChange($event)">
              <label class="form-check-label" for="inyectoras">INYECTORAS</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="'TROQUELAR'" id="troqueladoras" [checked]="radioSeleccionado === 'TROQUELAR'" (change)="handleChange($event)">
              <label class="form-check-label" for="troqueladoras">TROQUELADORAS</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="'HORNEAR'" id="hornos" [checked]="radioSeleccionado === 'HORNEAR'" (change)="handleChange($event)">
              <label class="form-check-label" for="hornos">HORNOS</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="'FLUXEAR'" id="fluxeadoras" [checked]="radioSeleccionado === 'FLUXEAR'" (change)="handleChange($event)">
              <label class="form-check-label" for="fluxeadoras">FLUXEADORAS</label>
            </li>
          </ul>
                 
          <div class="d-flex flex-row mb-1">
            <div class="p-2 flex-fill d-flex justify-content-center">
                <select class="form-select" [(ngModel)]="maquinaSelect" size="6" multiple aria-label="Size 3 select example">
                    <option disabled>Seleccione una máquina</option>
                    <option [value]="items.codInternoMq" *ngFor="let items of maquinaArray">{{items.nombre}}</option>
                </select>
            </div>
            <div class="p-2 flex-fill d-flex justify-content-center">
                <select class="form-select" [(ngModel)]="parteSelect" size="6" multiple aria-label="Size 3 select example">
                    <option disabled>Seleccione un número de parte</option>
                    <option [value]="items.numParte" *ngFor="let items of partesArray">{{items.descripcion}}</option>
                </select>
            </div>
            <div class="p-5">
                <!--<button class="btn btn-primary" (click)="calcularCapacidad()">Calcular</button>-->
                <button class="btn" id="calcular" (click)="elementosSelecionados()">Calcular</button>
            </div>
        </div>
        
          <!--<div class="loader"></div>-->
        </div>
      </div>
    </div>
    <div class="p-2" id="interactivo" *ngIf="!datosMaquina">
      <div class="card-body">
        <app-finpress *ngIf="formFinPress" (nuevoCalculoEvent)="manejarNuevoCalculo($event)"></app-finpress>
        <app-inyectoras *ngIf="formInyectoras"></app-inyectoras>
        <app-troqueladoras *ngIf="formTroqueladoras" (datoEnviado)="manejarNuevoCalculo($event)"></app-troqueladoras>
        <app-hornos *ngIf="formHornos"></app-hornos>
        <app-fluxeadoras *ngIf="formFluxeadoras"></app-fluxeadoras>
      </div>
    </div>
    
  </div>
</body>