
.navbar{
    margin: 0;
	padding: 0;
    background-color: #005ba2;
}
.navbar-logo img {
	height: 33%; /* El logo tendrá un 15% de la altura de su contenedor */
	width: auto; /* El ancho se ajustará automáticamente para mantener la proporción */
	max-width: 33%; /* Limita el ancho máximo al 15% del contenedor */
	margin-left: 2%;
  }
.card {
    width: 18rem; /* Establece un ancho fijo para todas las tarjetas */
    padding: 5% 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave */
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.568); /* Cambia la sombra al pasar el mouse */
}

.card-img-top {
    width: 50%; /* Hace que todas las imágenes ocupen el 100% del ancho de la tarjeta */
    height: 50%; /* Mantiene la proporción de la imagen */
}
.d-flex{
    /*background-color: cornflowerblue;*/
    margin-top: 5%;
}

.navbar-buttons{
	margin-right: 5%;
}  
