<nav class="navbar">
  <div class="navbar-logo">
    <img src="/assets/img-logo/Letras_Airtemp.png" alt="Logo" >
  </div>
  <div class="navbar-buttons">
    <svg xmlns="http://www.w3.org/2000/svg" (click)="cerrarSesion()" style="cursor: pointer;" width="35" height="35" viewBox="0 0 26 26"><g fill="none"><defs><mask id="IconifyId18ef88b2dd4b3fb314">
      <title>Cerrar sesión</title>
      <path fill="#fff" d="M0 0h26v26H0z"/><g fill="#000" fill-rule="evenodd" clip-rule="evenodd"><path d="M18.027 10.232a1 1 0 0 1 1.408.128l2.083 2.5a1 1 0 0 1-1.536 1.28l-2.084-2.5a1 1 0 0 1 .128-1.408"/><path d="M18.027 16.768a1 1 0 0 1-.129-1.408l2.084-2.5a1 1 0 1 1 1.536 1.28l-2.083 2.5a1 1 0 0 1-1.408.128"/><path d="M20.5 13.5a1 1 0 0 1-1 1H13a1 1 0 1 1 0-2h6.5a1 1 0 0 1 1 1M6 6.5a1 1 0 0 1 1-1h9a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1m0 14a1 1 0 0 1 1-1h9a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1"/><path d="M16 5.5a1 1 0 0 1 1 1v4a1 1 0 1 1-2 0v-4a1 1 0 0 1 1-1m0 10a1 1 0 0 1 1 1v4a1 1 0 1 1-2 0v-4a1 1 0 0 1 1-1m-9-10a1 1 0 0 1 1 1v14a1 1 0 1 1-2 0v-14a1 1 0 0 1 1-1"/></g></mask></defs><circle cx="13" cy="13" r="13" fill="#ffffff" mask="url(#IconifyId18ef88b2dd4b3fb314)"/></g>
    </svg>
  </div>
    
</nav>
<body>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="p-2" >
        <div class="card" style="width: 18rem;">
            <div class="d-flex justify-content-center">
              <img src="assets/panel-img/calcular.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title" style="display: flex; justify-content: center;">Calcular Capacidad</h5>
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary" routerLink="/calcular-capacidad">Acceder</button>
              </div>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="card" style="width: 18rem;">
            <div class="d-flex justify-content-center">
              <img src="assets/panel-img/reportes.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title" style="display: flex; justify-content: center;">Información calculada</h5>
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary">Acceder</button>
              </div>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="card" style="width: 18rem;">
          <div class="d-flex justify-content-center">
            <img src="assets/panel-img/datosMq.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="display: flex; justify-content: center;">Máquinas existentes</h5>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary" routerLink="/datos-maquinas">Acceder</button>
            </div>
          </div>
        </div>
    </div>
    <div class="p-2">
        <div class="card" style="width: 18rem;">
          <div class="d-flex justify-content-center">
            <img src="assets/panel-img/altaUsuarios.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="display: flex; justify-content: center;">Alta de usuarios</h5>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary">Acceder</button>
            </div>
          </div>
        </div>
    </div>
</div>
</body>